<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DevExtreme Samples</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@23_1/dist/dx-quill.min.js"></script> *@

    <script src="~/Scripts/dx-quill.min.js"></script>

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<body>

    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">DevExtreme Strict CSP</a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dx Grid
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Data Grid", "PaintGrid", "DevExtremeGrid", new { area = "" },
                           new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Data Grid With Virtual Scrolling", "VirtualScrollingGrid", "DevExtremeGrid", new { area = "" },
                           new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Data Grid With Grouping Aggregate", "GroupingAggregateGrid", "DevExtremeGrid", new { area = "" },
                           new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("FM Grid With Row Drag-Drop", "FMRowDragDrop", "DevExtremeGrid", new { area = "" },
                           new { @class = "dropdown-item" })
                            </li>

                            <li>
                                @Html.ActionLink("FM Hierarchy Grid", "FMHierarchyGrid", "DevExtremeGrid", new { area = "" },
                           new { @class = "dropdown-item" })
                            </li>

                        </ul>
                    </li>

                    @*<li>@Html.ActionLink("Pivot Grid", "DisplayPivotGrid", "PivotGrid", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Date Control", "PaintDateControls", "DateControls", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("HTML Editor", "PaintHTMLEditor", "HTMLEditor", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Data Grid MultiDDL", "DevExteremeGridWithDDL", "DevExteremeGridWithDDL", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Context Menu", "PaintContextMenu", "ContextMenu", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Dropdown Button", "PaintDropdownButton", "DropdownButton", new { area = "" }, new { @class = "nav-link" })</li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            File Upload
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Async Upload", "PaintAsyncFileUpload", "FileUpload", new { area = "" },
                           new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Chunk Uploading", "PaintChunkFileUpload", "FileUpload", new { area = "" },
                           new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Data Grid With File Upload", "PaintDataGridWithUpload", "FileUpload", new { area = "" },
                           new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </li>*@
                </ul>
            </div>

        </div>
</nav>

<main class="container">

    @RenderBody()
</main>
</body>

</html>